
.title{
  font-family: Roboto;
}
h1{
  font-family:'Roboto', sans-serif;
}
body{
  border: dashed 1px red;
}
.menu__item{
  padding: 0 13px;
}
.header{
  padding: 40px 0;
display:flex;
justify-content: space-between;
}
.main-section{

}
.wrapper{
  margin: auto;
  width:80%;
  border: dashed 1px red;
}
.logo, .menu{
  display: inline-block;
}
.logo{
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
}

.menu{
  display: flex;
  align-items: center;
}
.menu__item:last-child{
  padding-right: 0;
}
