.title{
  font-family: Roboto;
}
h1{
  font-family: Roboto, sans-serif;
}
.main{
  padding:39px 63% 115px 0;
  background: center right no-repeat url(img/mainImg.svg);
  height: 555px;
  background-size: 764px;
}
.main__title{
  margin:10px 0 39px 0;
  font: 700 66px/87px PT Serif,arial,helvetica,sans-serif;
  padding:51px 0 1px 0;
}
.main__title-text_highlight{
  background: #ECF3FF;
}
.main__subtitel{
  margin:0 0 42px 0;
  font: 22px/23px 'Roboto',arial,helvetica,sans-serif;
}
.main__button{
  display: inline-block;
  font: 18px/32px 'Roboto',arial,helvetica,sans-serif;
  color: #fff;
  padding: 15px 38px 11px 22px;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity.5s;
}
.main__button:hover{
  opacity: .5;
}
.menu__item{
  transition: opacity .5s;
  position: relative;
  margin-right: 27px;
  text-decoration: none;
  font: 500 18px/22px 'Roboto',arial,helvetica,sans-serif;
  color:#000
}
.header{
  padding: 32px 2px 40px 1px;
  display:flex;
  justify-content: space-between;
  margin-bottom: 100px;
  }
.wrapper{
  margin:auto 187px;
  width:80%;
}
.menu{
  display: inline-block;
}
.logo{
  display: inline-block;
}
.logo{
  /*position: relative;*/

  /*padding-left: 44px;*/
  /*font: bold 24px/31px pt_serif,arial,helvetica,sans-serif;*/
  width: 189px;
  height: 35px;
  background: url('img/logo.svg');
}

/*.logo__circle{
  position: absolute;
  left:0;
  top: 50%;
  transform:translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue{
  left: 8px;
  top:56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}*/
/*.menu{
  display: flex;
  align-items: center;
}*/
.menu__item:last-child{
  margin-right: 0;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  left:0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  transition: opacity .5s,width .5s;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:hover:after{
  position:absolute;
  left:0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover:after, .menu__item_active::after{
  opacity: 1;
}

@media(max-width:1025px){
  .logo{
    padding:0px;
  }
  .main{
    padding: 41px 52% 116px 0px;
    height: 444px;
    background-size: 520px;
  }
  .main__title {
    font: 700 51px/66px PT Serif,arial,helvetica,sans-serif;
    margin: 6px 0 34px;
}
.main__subtitel {
    margin: 0 0 37px 3px;
    font: 18px/22px 'Roboto',arial,helvetica,sans-serif;
}
.main__button {
    display: inline-block;
    font: 14px/23px 'Roboto',arial,helvetica,sans-serif;
    color: #fff;
    padding: 15px 26px 11px 20px;
    background: #0056EC;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity.5s;
}
  .header{
    margin-bottom:0;
  }
  .menu__item {
    font-family: 'Roboto',arial,helvetica,sans-serif;
    font-size: 14px;
    margin-right: 23px;
}
  .menu{
    margin-left: auto;
    margin-top: 7px;
  }
  .menu__btn, #menu__toggle, .menu__box, .menu__itemb{
    display: none;
   }
  .wrapper{
    margin: auto;
    width: 93%;
  }
}
@media(max-width:1366px){
  .menu__btn, #menu__toggle, .menu__box, .menu__itemb{
    display: none;
   }
   .header{
     margin-bottom: 106px;
     padding:32px 20px 0 1px;
   }
   .main__title{
     margin:0 0 44px;
     font: 700 50px/63px PT Serif,arial,helvetica,sans-serif;
     padding: 0;
   }
   .main{
     padding: 33px 56% 95px 0;
     height: 339px;
     background-size: 517px;
     background-position: 414px;
   }
   .main__subtitel{
     font: 18px/21px 'Roboto',arial,helvetica,sans-serif;
   }
   .menu{
     margin-left: 284px;
     padding: 6px;
   }
   .wrapper{
     margin: auto 210px;
   }
   .menu__item{
     margin-right: 23px;
     font: 500 14px/22px 'Roboto',arial,helvetica,sans-serif;
   }
   .main__button{
    font: 14px/18px 'Roboto',arial,helvetica,sans-serif;
    padding: 15px 22px 11px 22px;
   }
}



@media(max-width:768px){
  .menu{
    display: none;
  }
  .logo{
    width:45px;
  }
  .header{
    margin-bottom:28px;
  }
  .main{
    text-align: center;
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top center;
  }
  .main__title{
    margin-bottom: 44px;
    font: bold 30px/39px 'pt-serif',arial,helvetica,sans-serif;
  }
  .main__subtitel{
    margin-bottom: 25px;
    font: 500 16px/19px 'Roboto',arial,helvetica,sans-serif;
  }
  .main__button{
    font: 500 14px/16px 'Roboto',arial,helvetica,sans-serif;
    }
  .wrapper{
    margin: auto;
  }
/*скрываем чекбокс*/
#menu__toggle{
  opacity: 0;
}
/*стилизуем кнопку*/
.menu__btn{
  display: flex;
  align-items: center;
  position: fixed;
  top:32px;
  right:24px;
  width:26px;
  height: 26px;
  cursor:pointer;
  z-index:1;
}
/*добавляем гамбугер*/
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0056EC;
}
.menu__btn > span::before{
  content:'';
  top: -8px;
}
.menu__btn > span::after{
  content: '';
  top: 8px;
}
/*контейнер меню*/
.menu__box{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left:-100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0,0,0, .2);
}
/*элементы меню*/
.menu__itemb{
  display: block;
  padding: 12px 24px;
  color: #000;
  font-family: 'Roboto',arial,helvetica,sans-serif;
  font-size:20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__itemb:hover{
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span{
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before{
  top:0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after{
  top:0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box{
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before;
.menu__btn > span::after{
   transition-duration: .25s;
}
.menu__box{
  transition-duration: .25s;
}
.menu__itemb{
  transition-duration: .25s;
 }
}
