
body {
  margin: 0;
}
.header {
  padding: 32px 2px 40px 1px;
  display:flex;
  justify-content: space-between;
  margin-bottom: 100px;
  }
.wrapper {
  margin:auto 187px;
  width:80%;
}

body{
  margin: 0;
}
.main {
  padding:39px 63% 115px 0;
  background: center right no-repeat url(img/mainImg.svg);
  height: 555px;
  background-size:50%;
}
.main__title {
  margin:10px 0 39px 0;
  font: 700 66px/87px PT Serif,arial,helvetica,sans-serif;
  padding:51px 0 1px 0;
}
.main__title1 {
  margin-left:-18px;
}
.main__title-text_highlight {
  background:linear-gradient(to top,#ECF3FF 82%, #fff 82% 100%);
}

.main__subtitel {
  margin:0px 140px 2px -1px;
  font: 22px/23px Roboto,arial,helvetica,sans-serif;
}
.main__button {
  display: inline-block;
  font: 18px/32px Roboto,arial,helvetica,sans-serif;
  color: #fff;
  padding: 15px 38px 11px 22px;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity.5s;
  animation: main__button 3s infinite;
  margin-top:40px;
}

@keyframes main__button {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

.main__button:hover {
  opacity: .5;
}
.menu__item {
  transition: opacity .5s;
  position: relative;
  margin-right: 22px;
  text-decoration: none;
  font: 500 18px/22px Roboto,arial,helvetica,sans-serif;
  color:#000
}

.header{
  padding: 32px 2px 40px 1px;
  display:flex;
  justify-content: space-between;
  margin-bottom: 100px;
  }
.wrapper{
  margin:auto 187px;
  width:80%;
}

.menu {
  display: inline-block;
  margin-left: auto;
  margin-top: 7px;
  margin-right: -1px;
}
.menu__btn, #menu__toggle, .menu__box, .menu__itemb {
  display: none;
 }
.logo{
  display: inline-block;
}
.logo{
  width: 189px;
  height: 35px;
  background: url('img/logo.svg');
}

.center-img {
  background: no-repeat url(img/Dots.png);
  background-size: 100%;
  width: 34px;
  height: 8px;
  margin: 108px auto;
  margin-bottom: 38px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left:0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  transition: opacity .5s,width .5s;
}
.menu__item:hover {
  opacity: .5;
}
.menu__item:hover:after {
  position:absolute;
  left:0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover:after, .menu__item_active::after {
  opacity: 1;
}
.background{
  size:cover;
}


@media(max-width:1366px) {
  .menu__btn, #menu__toggle, .menu__box, .menu__itemb {
    display: none;
   }
   .header {
     margin-bottom:0px;
     padding:32px 153px 40px 1px;
   }
   .main__title {
     margin:0 478px 44px 0;
     font: 700 50px/64px PT Serif,arial,helvetica,sans-serif;
     padding-top:56px 0 0 0;
     margin-top:8px;
   }

   .main {
     padding: 39px 0 115px 0;
     height: 443px;
     background-size: 48%;
     background-position: 414px;
   }
   .main__subtitel {
     font: 18px/20px Roboto,arial,helvetica,sans-serif;
     margin: 0px 688px 0px 1px;
   }
   .menu {
     margin-left: auto;
     margin-top: 5px;
     padding: 3px;
   }
   .wrapper {
     margin: auto 210px;
     width: 80%;
   }
   .menu__item {
     margin-right: 22px;
     font: 500 14px/22px Roboto,arial,helvetica,sans-serif;
   }
   .main__button {
    font: 14px/20px Roboto,arial,helvetica,sans-serif;
    padding: 12px 25px 12px 18px;
    margin: 41px 3px 0 1px;
   }
   .logo {
     margin-left: 0px;
   }

   .main__title1 {
     margin-left:-13px;
   }
   .center-img {
     display: block;
     margin: 10px 0 -10px 450px;
   }
}

@media(max-width:1024px) {
  .logo {
    padding:0px;
    margin-left: -5px;
  }
  .wrapper {
    margin: auto 42px;
    width: 93%;
  }

  .main {
    padding: 41px 348px 116px 0px;
    height: 436px;
    background-size: 516px;
    margin-left: -2px;
  }
  .main__title {
    font: 700 50px/64px PT Serif,arial,helvetica,sans-serif;
    margin:2px -4px 34px -2px;
}
.main__subtitel {
    margin: 40px 205px 0px -3px;
    font: 18px/23px Roboto,arial,helvetica,sans-serif;
}
.main__button {
    display: inline-block;
    font: 14px/21px Roboto,arial,helvetica,sans-serif;
    color: #fff;
    padding: 12px 29px 11px 14px;
    background: #0056EC;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity.5s;
    margin: 42px 0 0 0px;
}
  .header {
    margin-bottom: 4px;
    width: 87%;
  }
  .menu__item {
    font-family: Roboto,arial,helvetica,sans-serif;
    font-size: 14px;
    margin-right: 22px;
}
  .menu {
    margin-right:-111px;
    margin-top: 8px;
    padding: 0px;
  }
  .menu__btn, #menu__toggle, .menu__box, .menu__itemb {
    display: none;
   }
   .center-img {
     display: block;
     margin: 10px 0 -10px 446px;
   }
}

@media(min-width:769px) and (max-width:1023px) {
  .main {
    background-size: 50%;
  }
  .header {
    padding-left: 30px;
  }
}
@media(max-width:768px) {
  .menu {
    display: none;
  }
  .logo {
    width:45px;
    margin-top: 16px;
  }
  .header {
    margin-bottom:0px;
    padding: 0px 0 55px 0;
  }
  .main {
    text-align: center;
    padding: 44% 0 0 43px;
    background-size: 87%;
    background-position: top center;
    margin-top: -27px;
    width: 88%;
  }

  .main__title {
    margin:72px 43px 0px 1px;
    font: bold 30px/39px PT serif,arial,helvetica,sans-serif;
  }
  .main__title1 {
    margin-left:-9px;
  }
  .main__subtitel {
    margin:32px 41px 0 0px;
    font: 500 16px/19px Roboto,arial,helvetica,sans-serif;
  }
  .main__button {
    font: 500 14px/16px Roboto,arial,helvetica,sans-serif;
    margin: 23px 40px 0 0;
    padding: 16px 30px 14px 16px;
    }
  .wrapper {
    margin:auto;
    width: 88%;
  }
/*скрываем чекбокс*/
#menu__toggle {
  opacity: 0;
}
/*стилизуем кнопку*/
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top:27px;
  right:24px;
  width:26px;
  height: 25px;
  cursor:pointer;
  z-index:101;
}
/*добавляем гамбугер*/
.menu__btn >span,
.menu__btn >span::before,
.menu__btn >span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
}
.menu__btn > span::before {
  content:'';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/*контейнер меню*/
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left:-100%;
  width: 100%;
  height: 100%;
  margin: 0 0 0 -4px;
  padding: 173px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0,0,0, .2);
  z-index: 100;
}
/*элементы меню*/
.menu__itemb {
  display: block;
  padding: 13px 10px 13px 15px;
  color: #000;
  font-family: 'Roboto',arial,helvetica,sans-serif;
  font-size:29px;
  font-weight: 600;
  text-decoration: none;
}
.menu__itemb:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top:0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top:0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before;
.menu__btn > span::after {
   transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__itemb {
  transition-duration: .25s;
 }
 /*убираем горизонтальный скролл*/
 html, body { max-width: 100%; overflow-x: hidden;
}

/*Создание анимации*/
@keyframes move {
  0%{
    transform:translateX(0%);
    opacity: 25%;
  }
  25%{
    transform: translateX(25%);
    opacity: 50%;
  }
  50%{
    transform: translateX(50%);
    opacity: 75%;
  }
  100%{
    transform: translateX(100%);
    opacity: 100%;
  }
}
/*Добавление анимации к элементу*/
.element {
  display:inlines;
  height: 100px;
  width: 100px;
  opacity: 25%;
  background-color: none;
  animation-name: move;
  animation-duration: 4.0s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}
